@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}
body {
	background-color: ivory;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.form {
	background-color: khaki;
	font-weight: 800;
	text-transform: uppercase;
	overflow: hidden;
	margin-bottom: 1.5em;
	padding: 1em;
	text-align: center;
}

label {
	color: lightcoral;
}

.list {
	font-size: .9em;
	margin-bottom: 1em;
}

.list-field {
	margin: 0 auto;
	width: 50vw;
}

.list-highlight {
	color: slategrey;
	overflow: hidden;
	padding: 0;
	text-decoration: line-through;
}

.btn {
	float: right;
	font-weight: 800;
}

.btn,
.btn-add {
	background-color: white;
	border: 3px solid lightcoral;
	border-radius: 15%;
	color: black;
	text-transform: uppercase;
}

.btn:hover {
	background-color: lightcoral;
	color: white;
}

.btn-add:hover {
	background-color: lightcoral;
	color: white;
}